.product-page {
    min-height: calc(100vh - 70px);
    padding: 3rem 2rem;
    background: #fff;
}

.product-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 5rem;
}

.product-gallery {
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
}

.product-gallery img {
    width: 100%;
    max-width: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    transition: transform 0.5s ease, filter 0.4s ease;
}

.product-gallery:hover img {
  transform: scale(1.02);
  filter: brightness(1.03);
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-top: 1rem;
}

.product-category {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #888;
}

.product-details h1 {
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.25;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.8rem 0;
}

.product-description {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #444;
}


.size-selector {
    margin: 1.5rem 0;
}

.size-title {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-transform:capitalize;
}

.sizes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.6rem;
}

.size-btn {
    padding: 0.6rem 0;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    font-size: 0.85rem;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.size-btn:hover {
    border-color: #000;
}

.size-btn.active {
    border-color: #000;
    background: #000;
    color: #fff;
}

/* 🔒 Disabled */
.add-cart-btn:disabled {
  background: #ddd;
  color: #777;
  cursor: not-allowed;
}

/* ✅ Estado agregado */
.add-cart-btn.added {
  background: #2e7d32; /* verde elegante */
}


@media (max-width: 768px) {

    .product-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .product-gallery img {
        max-height: 380px;
    }
}